.crypto-btn {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  border-bottom: solid rgb(32, 104, 81, 0.3);

  @media screen and (max-width: 768px) {
    width: 400px;
  }
  @media screen and (max-width: 425px) {
    width: 300px;
  }
}
.init {
  color: rgb(255, 255, 255, 0.4);
  font-size: 12px;
}

.usdt {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 15px 5px;
}

.total-balance {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin: 15px 5px;
}

.prices {
  display: flex;
  align-items: center;
}

.verde {
  font-size: 12px;
  color: rgb(91, 213, 91);
  margin-left: 16px;
}

.rosso {
  font-size: 12px;
  color: rgb(251, 89, 89);
  margin-left: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(9, 160, 97, 0.7), rgba(9, 18, 12, 0.7)),
    url(./dark.png);
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 80%;
  width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: -4px -4px 25px rgba(0, 0, 0, 0.4),
    inset -4px 4px 8px rgba(255, 255, 255, 0.3);
}

.popup p {
  margin: 0;
  padding: 5px 0;
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.popup button {
  background: linear-gradient(rgb(25, 197, 197), rgb(13, 70, 37));
  color: rgb(255, 255, 255);
  border: none;
  width: 75px;
  text-align: center;
  font-weight: 400;
  border-radius: 15px;
  padding: 6px 15px;
  cursor: pointer;
}

.crypto-name {
  font-size: 23px;
  text-align: center;
  font-weight: 600;
}
